In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_BI_clean.csv')

C:\Users\Abdel\AppData\Local\Temp\ipykernel_8316\1559772176.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data_BI_clean.csv')

In [3]:
# Fonction pour remplacer les espaces par NaN et supprimer
def remplacer_espaces_par_nan_et_supprimer(dataframe, nom_colonne):
    """
    Remplace les espaces vides dans une colonne par NaN et les supprime.
    
    Args:
        dataframe (pandas.DataFrame): Le DataFrame à modifier
        nom_colonne (str): Le nom de la colonne à traiter
        
    Returns:
        pandas.DataFrame: Le DataFrame avec les valeurs NaN supprimées
    """
    # Vérifier si la colonne existe
    if nom_colonne not in dataframe.columns:
        raise ValueError(f"La colonne '{nom_colonne}' n'existe pas dans le DataFrame")
    
    # Créer une copie pour éviter de modifier l'original
    df_copy = dataframe.copy()
    
    # Remplacer les cellules contenant uniquement des espaces par NaN
    df_copy[nom_colonne] = df_copy[nom_colonne].replace(r'^\s*$', np.nan, regex=True)
    
    # Supprimer les lignes contenant NaN dans cette colonne
    df_clean = df_copy.dropna(subset=[nom_colonne])
    
    return df_clean

In [5]:
df_propre = remplacer_espaces_par_nan_et_supprimer(df, "date_vente")

In [6]:
print(df_propre.head())

                  ID marque               modele  annee_fabrication  \
0  5xyktca69fg566472    kia              sorento               2015
1  5xyktca69fg561319    kia              sorento               2015
2  wba3c1c51ek116351    bmw             3 series               2014
3  yv1612tb4f1310987  volvo                  s60               2015
4  wba6b2c57ed129731    bmw  6 series gran coupe               2014

  carrosserie  etat_vehicule  kilometrage transmission couleur_exterieure  \
0         suv            5.0      16639.0    automatic              white
1         suv            5.0       9393.0    automatic              white
2       sedan           45.0       1331.0    automatic               gray
3       sedan           41.0      14282.0    automatic              white
4       sedan           43.0       2641.0    automatic               gray

  coluleur_interieur    finition                                 vendeur  \
0              black          lx                 kia motors america  inc
1              beige          lx                 kia motors america  inc
2              black  328i sulev  financial services remarketing (lease)
3              black          t5                 volvo na rep/world omni
4              black        650i  financial services remarketing (lease)

   valeur_estime  prix_vente etat_vente  date_vente
0        20500.0     21500.0         ca  16/12/2014
1        20800.0     21500.0         ca  16/12/2014
2        31900.0     30000.0         ca  15/01/2015
3        27500.0     27750.0         ca  29/01/2015
4        66000.0     67000.0         ca  18/12/2014

In [7]:
df_propre.to_csv('data_BI_clean_propre.csv', index=False)